<div>
  <%= for {item, changeset} <- @items do %>
    <%= form_obj = form_for(changeset, "#", phx_change: "validate") %>
      <%= hidden_input(form_obj, :id) %>
      <label>Item <%= item.id %><%= text_input(form_obj, :value)%></label>
    </form>
  <% end %>
</div>
